<header>
  <div class="container header-container">
    <div class="d-flex align-center">
      <img src="/images/logo.png" alt="Infirma Logo" class="logo">
      <h1>Infirma</h1>
    </div>
    <div class="user-menu">
      <i class="fas fa-search icon"></i>
      <i class="far fa-bell icon"></i>
      <i class="far fa-folder icon"></i>
      <i class="fas fa-cog icon"></i>
      <a href="/company-profile" class="user-profile">
        <span>tmazurek@outlook.com</span>
        <i class="fas fa-chevron-down"></i>
      </a>
    </div>
  </div>
  <nav>
    <div class="container">
      <ul>
        <li><a href="/">Przychody</a></li>
        <li><a href="/expenses">Koszty</a></li>
        <li><a href="/summary">Księgowość</a></li>
        <li><a href="/company-profile">Firma</a></li>
        <li><a href="/clients">Klienci</a></li>
        <li><a href="/invoices">Faktury</a></li>
      </ul>
    </div>
  </nav>
</header>
